* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/* HEADER STYLES START */
.header {
    font-size: 13px;
    display: flex;
    justify-content: space-between;
    margin: 15px;
}

.header-left a,
.header-right a {
    color: #000000;
    padding: 10px;
    text-decoration: none;
}

.header-left,
.header-right {
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-picture {
    height: 30px;
    width: 30px;
    border-radius: 50%;
}
/* HEADER STYLES END */

/* MAIN CONTENT STYLES START */
.main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 120px;
}

.search-input {
    border-color: rgba(112,117,117, 0.6);
    border-width: thin;
    border-radius: 50px;
    height: 40px;
    width: 35%;
    margin: 20px 0 30px 0;
    outline: none;
}

.main-content-button {
    border: none;
    background-color: #f8f9fa;
    padding: 10px;
    font-size: 14px;
}
/* MAIN CONTENT STYLES END */

/* FOOTER STYLES START */
.footer {
    background-color: #f2f2f2;
    color: #707575;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 5px 20px;
}

.footer-left p,
.footer-right p {
    padding: 10px;
}

.footer-left,
.footer-right {
    display: flex;
}

.footer-middle {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-middle a {
    color: #707575;
    text-decoration: none;
}
/* FOOTER STYLES END */