* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

.header-left p,
.header-right p {
    padding: 10px;
}


.header-left {
    display: flex;
}

.header-right {
    display: flex;
}

.main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}